[Desktop Entry]
Type=Application
Name=GotBox
GenericName=File Sync
Comment=Dropbox-like file sync over GitHub private repos
Exec=env LAZUSEAPPIND=NO gotbox
Icon=gotbox
Terminal=false
Categories=Utility;Network;FileTransfer;
Keywords=sync;git;github;backup;dropbox;
StartupWMClass=gotbox
